@import url("https://fonts.googleapis.com/css2?family=Antic&display=swap");

:root {

    --primary-color: #edf2f8;
    --secondary-color: #b4134a;
    --black-color: #2e2e2e;
    --lightGray-color: #e4e4e4;
    --gray-color: #6b7688;
    --brown-color: #46364a;
    --white-color: #ffffff;
}

* {
    font-family: "Antic", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}